<% include ../partials/header %>
<div class='ui main text container segment'>
    <div class='ui huge header'><%=campground.name%></div>
   <img src='<%= campground.image %>'>
   <p><%= campground.description %></p>
   
   <% campground.comments.forEach((comment) => { %>
     <p>
         <strong><%= comment.author %></strong> - <%= comment.text %>
     </p>
     <% }) %>
   
   <a href='/campgrounds/<%= campground._id %>/comments/new'>Add New Comment</a>
   <form action='/campgrounds/<%=campground._id%>/edit' methoc='GET'>
        <button class="ui orange basic button">Edit</button>
   </form>
   <form action='/campgrounds/<%= campground._id%>?_method=DELETE' method='POST'>
        <button class="ui red basic button">Delete</button>
    </form>
    <a href='/campgrounds'>Go Back</a>
</div>
<p></p>

<% include ../partials/footer %>